.container {
    background-color: #F0F1EE;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    max-width: 100%;
    min-height: 100vh;
    padding: 1.375rem;
    border-radius: 1.875rem 1.875rem 0rem 0rem;
    background-color: #F3F3F3;
}