.container {
    background-color: #F0F1EE;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    max-width: 100%;
    min-height: 100vh;
    padding: 1.3rem;
    border-radius: 1.875rem 1.875rem 0rem 0rem;
    background-color: #F3F3F3;
}

@media (max-width: 320px) {
    .container {
        min-width: 89vw;
    }
}

@media (min-width: 426px) {
    .container {
        min-width: 80vw;
        overflow: hidden;
    }
}

