.container {
    max-width: 100%;
    height: 16.25rem;
    border-radius: 1.875rem 1.875rem 0rem 0rem;
    background-color: #F6F6F6;
    padding: 2rem 0rem 0rem 1.75rem;
}

.categoryButton {
    height: 1.563rem;
    padding: 0rem 0.938rem;
    font-family: "DM Sans", serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0.2px;
    border: none;
    background-color: #F6F6F6;
    color: #7F7F7F;
    align-items: center;
    margin: 0rem 0.438rem 0.75rem 0rem;
}

.categoryButton.active {
    background: var(--color-primary, #0ACF83);
    color: var(--color-white);
    border-radius: 1.875rem;
}