.container {
    display: flex;
    align-items: center;
    width: 19.063rem;
    height: 11.875rem;
    padding: 0.938rem 1.5rem;
    border-radius: 0.625rem;
    font-family: "DM Sans", serif;
    margin: 0.438rem 1.2rem 0.438rem 0.3rem;
    background-color: var(--color-white);
    cursor: pointer;
}

.headset {
    width: 7.313rem;
    height: 8.438rem;
    padding: 0.4rem 0rem 0.4rem 2.7rem;
    align-items: center;
    border-radius: 0.625rem;
}

.container h1 {
    color: var(--color-default);
    font-family: "Montserrat", sans-serif;
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.875rem; 
    letter-spacing: 0.2px;
    margin-bottom: 1.5rem;
}

.productLink {
    color: var(--color-primary);
    font-family: "DM Sans", serif;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 0.2px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.shopText {
    margin-right: 0.5rem;
}

@media (max-width: 320px) {
    .container {
        width: 13rem;
        height: 11.875rem;
        padding: 0.938rem 1.6rem;
        margin: 0.438rem 1.2rem 0.438rem 0rem;
    }
    
    .headset {
        width: 5rem;
        height: 6rem;
    }

    .container h1 {
        font-size: 1rem;
    }
}


@media (min-width: 426px) and (max-width: 768px) {
    .container {
        width: 18.8rem;
        padding: 0.938rem 1.5rem;
        margin: 0.438rem 0.7rem 0.438rem 0.2rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .container {
        width: 16.5rem;
        padding: 0.938rem 1.5rem;
        margin: 0.438rem 0.7rem 0.438rem 0.2rem;
    }

    .headset {
        width: 6.5rem;
        height: 8rem;
    }

    .container h1 {
        font-size: 1.2rem;
    }
}

@media (min-width: 1025px) {
    .container {
        width: 17rem;
        padding: 0.938rem 1.98rem;
        margin: 0.438rem 0.62rem 0.438rem 0.2rem;
    }

}




