.container {
    display: flex;
    align-items: center;
}

.filterButton {
    display: flex;
    width: 88vw;
    height: 2.563rem;
    padding: 0.625rem 0.938rem;
    margin: 0rem 1.375rem 2.5rem 1.375rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
    border: 1px solid var(--color-grey);
    background-color: var(--color-white);

    color: var(--color-default);
    font-family: "DM Sans", serif;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.2px;
    cursor: pointer;
}

.filterOpened {
    display: flex;
    width: 23.438rem;
    height: 26.375rem;
    padding: 0.8rem 1.5rem;
    flex-direction: column;
    align-items: flex-start;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    color: var(--color-default);
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.25rem;
    letter-spacing: 0.2px;
    margin: 1.6rem 0rem;
}

.header button {
    font-size: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    background-color: var(--color-white);
    color: var(--color-default);
    font-weight: 500;
    margin-left: 18.125rem;
    cursor: pointer;
}

.filterOpened h2 {
    color: var(--color-default);
    font-family: "DM Sans", serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0.2px;
    margin-bottom: 0.6rem;
}

.categories {
    width: 100vw;
}

.labelCategory {
    display: inline-block;
    padding: 0.25rem 1.125rem;
    font-family: "DM Sans", serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0.2px;
    border: none;
    background-color: var(--color-white);
    color: #7F7F7F;
    align-items: center;
    margin-right: 0.438rem;
    cursor: pointer;
}

.labelCategory.active {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 1.8rem;
}

.filter {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.filter h2 {
    width: 90vw;
    margin-top: 1.8rem;
}

.labelFilter {
    color: var(--color-default);
    font-family: "DM Sans", serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0.2px;
    border-radius: 0.625rem;
    border: 1px solid #7F7F7F;
    background: var(--color-white);
    padding: 0.563rem 1rem;
    margin: 0rem 0.75rem 0.8rem 0rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.labelFilter.active {
    background: var(--color-primary);
    color: var(--color-white);
    border: none;
}
  
input[type="radio"] {
    display: none; 
}
  



