.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    height: 3.438rem;
    flex-shrink: 0;
    overflow: hidden;
    padding: 25px 25px 0px 25px;
}

.searchText {
    color: var(--color-default);
    text-align: center;
    font-family: "DM Sans", serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem; 
    letter-spacing: 0.2px;
}

.homeButton i, .shoppingButton i {
    width: 1.25rem;
    height: 1.25rem;
    flex-shrink: 0;
    color: var(--color-default);
}



