.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 90vw;
    height: 3.438rem;
    overflow: hidden;
    margin: 0px 30px 0px 25px;
    padding-top: 20px;
}

.text {
    color: var(--color-default);
    text-align: center;
    font-family: "DM Sans", serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25rem; 
    letter-spacing: 0.2px;
    flex: 1;
}

.homeButton i, .shoppingButton i, .trashButton i {
    width: 1.25rem;
    height: 1.25rem;
    color: var(--color-default);
    margin-right: 8px;
}

.button {
    border: none;
    background-color: var(--color-white);
    cursor: pointer;
}