.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 22px;
}

.link {
    text-decoration: none;
    color: var(--color-white);
    font-family: "DM Sans", serif;
    padding: 10px 0px;
}

.logo {
    display: flex;
    align-items: center;
}

.logoImage {
    width: 20.5px;
    height: 20.5px;
}

.logoName {
    color: var(--color-default);
    font-family: "DM Sans", serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.238px;
    margin-left: 5px;
}

.navBar {
    display: none;
}

.linkNav {
    font-size: "DM Sans", serif;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: var(--colors-default);
    margin: 0px 8px;
}

.linkNav:hover {
    color: var(--color-primary);
}

.photoUser {
    width: 35px;
    height: 35px;
    border-radius: 35px;
}

.button {
    border: none;
    background-color: var(--color-white);
    cursor: pointer;
}

@media (min-width: 1024px) {
    .navBar {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 100px;
        min-width: 70vw;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 32px 30px 32px;
    }

    .imageNav {
        display: flex;
        margin-left: auto;
    }

    .logo {
        display: flex;
        margin-right: auto;
    }

    .logoImage {
        width: 26px;
        height: 26px;
    }
    
    .logoName {
        font-size: 22px;
        font-weight: 700;
        margin-left: 6px;
    }

    .photoUser {
        width: 40px;
        height: 40px;
        border-radius: 35px;
    }
}