.container {
    display: flex;
    align-items: center;
    border-radius: 0.938rem;
    font-family: "DM Sans", serif;
    margin: 0.8rem 1.8rem;
    min-width: 90vw;
}

.link {
    text-decoration: none;
    display: flex;
    margin-top: 0.5rem;
}

.infoText {
    display: flex;
    flex-direction: column;
}

.headset {
    width: 5.313rem;
    height: 5.313rem;
    padding: 0rem 0.75rem 0.4rem 0rem;
    align-items: center;
    border-radius: 0.625rem;
}

.infoText {
    margin-left: 0.313rem;
}

.container h1 {
    color: var(--color-default);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.2px;
}

.price {
    color: var(--color-default);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.2px;
    margin: 0.188rem 0rem 0.5rem 0rem;
}

.reviews {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 60vw;
}

.star {
    width: 1rem;
    height: 1rem;
}

.reviews p {
    color: var(--color-default);
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.2px;
}

.reviews i {
    width: 0.5rem;
    height: 0.5rem;
    margin-left: auto;
}

.rating {
    margin: 0rem 0.625rem 0rem 0.25rem;
} 

.quantity {
    display: flex;
    align-items: center;
    min-width: 62vw;
    justify-content: flex-end;
}

.text {
    color: var(--color-default);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.2px;
    margin-right: 1.25rem;
}

.button {
    border: 1px solid var(--color-grey);
    background-color: var(--color-white);
    border-radius: 0.625rem;
    width: 1.875rem;
    height: 1.875rem;
    margin-right: 1.25rem;
    cursor: pointer;
}

.button i {
    color: var(--color-default);
}

.buttonDisabled {
    border: 1px solid var(--color-grey);
    background-color: var(--color-white);
    border-radius: 0.625rem;
    width: 1.875rem;
    height: 1.875rem;
    margin-right: 1.25rem;
}

.buttonTrash {
    border: none;
    background-color: var(--color-white);
    color: var(--color-default);
    opacity: 0.5;
    margin-left: auto;
    cursor: pointer;
}